<!-- customer-list.component.html -->
<div class="container">
    <h1>
      Customers
      <button (click)="addCustomer()" class="add-customer-btn">Add Customer</button>
    </h1>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" placeholder="Search" class="search-field">
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Dob</th>
          <th>Email</th>
          <th>Phone</th>
          <th>LOcation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of displayedCustomers">
          <td><a [routerLink]="['../view', customer._id]">{{ customer._id }}</a></td>

          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.dob }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.mobile }}</td>
          <td>{{ customer.location }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <!-- <span>{{ currentPage }} / {{ totalPages }}</span> -->
      <!-- <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button> -->
    </div>
  </div>
  