// Custom Theming for Angular Material
// @use "@angular/material" as mat;
@import "./theme-variables.scss";

// styles.scss

@import "theme-variables";

$icon-prefix: px-iocns;
$icon-color: var(--icon-color, black);

:root {
  --primary: $light-primary;
  --accent: $light-accent;
  --warn: $light-warn;
  --background: $light-background;
  --text-primary: $light-text-primary;
  --text-secondary: $light-text-secondary;
}

.dark-theme {
  --primary: $dark-primary;
  --accent: $dark-accent;
  --warn: $dark-warn;
  --background: $dark-background;
  --text-primary: $dark-text-primary;
  --text-secondary: $dark-text-secondary;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

.app-theme-toggle {
  margin-top: 20px;
}

/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background) !important;
  color: var(--text-primary) !important;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6edef;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}

html,
body {
  height: 100%;
}

.webkit-styling {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}

// Icon:

.px-icons {
  display: block;
  flex-shrink: 0;
  background-size: auto;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: var(--icon-size, 20px);
  height: var(--icon-size, 20px);
  color: $icon-color;
  isolation: isolate;
  transition: all 0.4s ease-in-out;

  &.edit {
    background-color: $icon-color;
    mask-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z" fill="currentColor" /><path d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z" fill="currentColor" /></svg> ');
  }
}
