// _theme-variables.scss

// Light Theme Colors
$light-primary: #2196f3; // Material Blue
$light-accent: #ff4081; // Material Pink
$light-warn: #ff5722; // Material Orange
$light-background: #ffffff; // White
$light-text-primary: #000000; // Black
$light-text-secondary: #757575; // Medium Gray

// Dark Theme Colors
$dark-primary: #1976d2; // Dark Blue
$dark-accent: #ff4081; // Pink
$dark-warn: #ff5722; // Orange
$dark-background: #121212; // Dark Gray
$dark-text-primary: #ffffff; // White
$dark-text-secondary: #bdbdbd; // Light Gray