<nav class="navbar">
  <div class="container-navbar">
    <a class="navbar-brand" href="#">Ezee Loans</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleDropdown()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse-items" [ngClass]="{'show': dropdownOpen}" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <span class="nav-link drop-down" href="#" role="button" aria-expanded="false" (click)="toggleDropdown()">
            User
            <span class="px-icons caret_down"></span>
          </span>
          <ul class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">
            <li><a class="dropdown-item" routerLink="settings">Settings</a></li>
            <li><a class="dropdown-item" href="activity">Activity</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
