<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h2>About Us</h2>
            <p>All loan services.</p>
        </div>
        <div class="footer-column">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>Contact Us</h2>
            <p>Email: munasu@gmail.com</p>
            <p>Phone: +91 9515099037</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024@munasu. All rights reserved.
    </div>
</footer>