<!-- list-loans.component.html -->


<ng-container *ngIf="allLoans">
  <!-- {{allLoans | json}} -->

  <div class="loan-card" *ngFor="let loan of allLoans">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Loan Details</h5>
        <button class="edit-button" [routerLink]="['../../edit', loan._id]">Edit
          <span class="px-icons edit"></span>
        </button>
        <h2>{{ loan.loanname }}</h2>
      </div>
      <div class="card-body">
        <p><strong>Loan ID:</strong> <a>{{ loan._id }}</a></p>
        <p><strong>Type</strong>: {{ loan.loantype }}</p>
        <p><strong>Amount</strong>: {{ loan.loanamount | currency }}</p>
        <p><strong>Status</strong>: <span class="loan-status"> {{ loan.loanstatus }} </span> </p>
        <p><strong>Issued Date</strong>: {{ loan.loanissuedate | date:'mediumDate' }}</p>
      </div>
    </div>
  </div>

</ng-container>




<div *ngIf="!loan">
  <p>No loan details found.</p>
</div>