/* list-customers.component.scss */

.loan-card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .card-header {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: space-between;

    .card-title {
      color: #007bff;
      font-size: 1.25rem;
    }

    .edit-button {
      --icon-size: 16px;
      display: flex;
      align-items: center;
      padding: 4px 16px;
      gap: 12px;
      border-radius: 8px;
      background: lavender;
      border: 2px solid darkcyan;
    }
  }

  .loan-status {
    padding: 0px 8px;
    background: skyblue;
    border-radius: 2px;
    border: 1px solid blue;
  }

  p {
    margin-bottom: 10px;
    display: flex;
    gap: 12px;

    strong {
      color: #6c757d;
    }

    a {
      color: #28a745;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-footer {
    display: flex;
    margin: 12px 24px;
    justify-content: flex-end;
  }

}