<!-- customer-list.component.html -->
<div class="container">
    <h1>
      loans
      <button (click)="addLoan()" class="add-customer-btn">Add Customer</button>
    </h1>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" placeholder="Search" class="search-field">
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of displayedloans">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  