/* customer-list.component.css */
.container {
    margin: 0 auto;
    padding: 20px;
    overflow-x: scroll;

    .add-loan-btn {
        padding: 4px 12px;
        border-radius: 8px;
        background: #2c3e50;
        color: white;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
    }
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-customer-btn {
    padding: 4px 12px;
    border-radius: 8px;
    background: #2c3e50;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.search-container {
    margin-bottom: 20px;
}

.search-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.pagination {
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.pagination span {
    margin: 0 5px;
    font-size: 16px;
}